@model Presentation.Models.Email.EmailContentDto
@{ Layout = ""; }
<html>
<body>
    <h4> برای بازنشانی رمز عبور خود روی لینک زیر کلیک کنید</h4>
    <a href="www.MyDomain.com/ResetPassword/Account?username=@(Model.FirstName)&token=@(Model.Token)">کلیک کنید</a>
</body>
</html>

