@model Presentation.Models.ResetPassword.ForgotPasswordDTO
@{ ViewData["Title"] = "فراموشی رمز عبور"; }
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">فراموشی رمز عبور</h3>
            <div class="card-text text-right">
                <form id="login" asp-action="ForgotPassword" asp-antiforgery="true" method="post">
                    <input type="hidden" asp-for="UCB" />
                    <div class="form-group">
                        <label>نام کاربری</label>
                        <input asp-for="UserName" class="form-control form-control-sm" autocomplete="off">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <table dir="rtl">
                            <tr>
                                <td>
                                    <div class="form-group" id="imgDiv" style="position: relative;float: right;height: 75px;width: 100px;background: url(/ReCaptcha/reCaptcha)">
                                        <img onclick="reCaptcha()" src="~/Images/refresh.png" class="bg-soft-info spin-anything" style="width:20px;height:20px;bottom:5px;left:5px;position:absolute;" />
                                    </div>
                                </td>
                                <td class="pr-2">
                                    <label>کد امنیتی</label>
                                    <div>
                                        <input autocomplete="off" class="form-control pl-5" data-val="true" data-val-required="کد امنیتی را وارد کنید" asp-for="txtCaptcha" type="text">
                                        <span class="field-validation-valid text-danger" asp-validation-for="txtCaptcha"></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">ارسال ایمیل بازیابی رمز عبور</button>
                    </div>
                    <div class="form-group text-center">
                        <a asp-action="Login" asp-route-UCB="@Model.UCB">ورود</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function reCaptcha() {
            $.ajax({
                type: "GET",
                url: '/ReCaptcha/captcha/',
                success: function (response) {
                    var d = new Date();
                    var newImage = '/ReCaptcha/reCaptcha?V=' + d.getMinutes() + d.getSeconds() + d.getMilliseconds();
                    document.getElementById('imgDiv').style.background = "url(" + newImage + ")"
                },
                error: function (xhr) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });
        }
    </script>
}
