@model SignInViewModel
@{ ViewData["Title"] = "ورود"; }
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">ورود</h3>
            <div class="card-text text-right">
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">نام کاربری</label>
                        <input asp-for="UserName" class="form-control form-control-sm" aria-describedby="emailHelp">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">گذرواژه</label>
                        <a asp-action="ForgotPassword" style="float:left;font-size:12px;">Forgot password?</a>
                        <input asp-for="Password" type="password" class="form-control form-control-sm">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">ورود</button>
                </form>
            </div>
        </div>
    </div>
</div>
