@{ ViewData["Title"] = "ارسال لینک بازیابی رمز ورود"; }
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">تغییر رمز عبور</h3>
            <div class="card-text">
                <div class="form-group text-right">
                    <p class="text-primary">کاربر عزیز</p>
                    <p class="text-primary">ایمیل بازیابی گذرواژه برای شما ارسال شد </p>
                </div>
            </div>
        </div>
    </div>
</div>