@model Presentation.Mvc.Models.Email.EmailContentDto
@{ Layout = ""; }
<html>
<body>
    <h4> برای بازنشانی رمز عبور خود روی لینک زیر کلیک کنید</h4>
    <a href="@Model.Link">کلیک کنید</a>
</body>
</html>

