@model Presentation.Mvc.Models.ResetPassword.ForgotPasswordDTO
@{ ViewData["Title"] = "فراموشی رمز عبور"; }
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">فراموشی رمز عبور</h3>
            <div class="card-text text-right">
                <form id="login" asp-action="ForgotPassword" asp-antiforgery="true" method="post">
                    <input type="hidden" asp-for="UCB" />
                    <div class="form-group text-danger" asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label>نام کاربری</label>
                        <input asp-for="UserName" class="form-control form-control-sm" autocomplete="off">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <partial name="_ReCaptchaPartial" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">ارسال ایمیل بازیابی رمز عبور</button>
                    </div>
                    <div class="form-group text-center">
                        <a asp-action="Login" asp-route-UCB="@Model.UCB">ورود</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
