@model RoleClaimDTO

<form method="post">
    <div class="col-md-4 form-group">
        <div class=" col-md-12 form-group">
            <label asp-for="RoleName"></label>
        </div>
        <div class=" col-md-12 form-group">
            <input type="text" asp-for="RoleName" class="form-control" readonly disabled />
        </div>
    </div>
    <div class="col-md-4 form-group">
        <div class=" col-md-12 form-group">
            <label>Claim</label>
        </div>
        <div class=" col-md-12 form-group">
            <input type="text" asp-for="Claim.type" class="form-control" />
        </div>
        <div class=" col-md-12 form-group">
            <input type="text" asp-for="Claim.value" class="form-control" />
        </div>
    </div>
    <div class="col-md-4 form-group">
        <div class=" col-md-12 form-group">
            <input type="submit" value="Create" class="btn btn-success btn-block" />
        </div>
    </div>
</form>