@model List<string>
<table class="table table-bordered table-striped table-info">
    <tr>
        <th>مقدار</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item</td>
        </tr>
}
</table>
